body {
    font-family: "Barlow Semi Condensed","sans-serif";
}

img {
    max-width: 100%;
}

.descricao{
    width: 300px;
    height: 450px;
    margin-top: 2rem;
    padding-top: 0.5rem;
}

.descricao-titulo-especificacoes{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.icone-descricao{
    padding-top: 0.5rem;
}

/*Navbar*/

    .nav-align {
        top: 0;
        left: 0;
        width: 100vW;
        height: 1rem;
        z-index: 1;
    }

    .logo{
        margin-left: 4rem;
        margin-top: 0.7rem;
    }

    .push-btn {
        margin-left: 0.6rem;
    }

    .button {
        position: relative;
        display: inline-block;
        margin-left: 1.5rem;
        margin-top: 0.2rem;
        font-family: "source sans pro", sans-serif;
        font-size: 1.05rem;
        font-weight: 5;
        color: rgba(255, 255, 255, 0.805);
    }

    .button:hover {
        color: white;
    }

    .button::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 11%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
    }

    .button:hover::after {
        transform: scaleX(1);
    }

/*Various*/

.central {
    max-width: 80vw;
    height: 80vh;
    margin: auto;
}

.black-bg {
    background-color: rgb(0, 0, 0);
}

.dark-gray-bg {
    background-color: rgb(18, 18, 18);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Index*/

.img-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.openning-img {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/public/img/Openning12.png');
    background-size: cover;
    background-position: center;
}

.openning-info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    height: 50vh;
    width: 30vw;
    text-align: center;
}

.section-1 {
    height: 30vh;
    background-image: linear-gradient(to bottom, #000000, rgb(18, 18, 18));
}

.quote-box{
    width: 23.625rem;
}

.text-white {
    color:white;
}

.text-gray {
    color: gray;
}
.text-light-gray {
    color: lightgrey;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}



.section-2 {
    height: 70vh;
}

.s2-container-title {
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem 0 4rem 0;
}


.s2-3-title {
    font-weight: bolder;
}

.s2-text {
    line-height: 1;
    color: lightgray;
}

.engine-img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    scale: 1.5;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}

.section-3 {
    height: 100vh;
    padding-top: 0rem;
}

.map {
    height: 35rem;
    width: 100vw;
}

.s3-title {
    font-family: Montserrat;
    font-size: 3rem;
}

.s3-text {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

.s3-btn-container {
    padding: 1rem 0 2rem 0;
}

.button-26 {
  appearance: button;
  background-color: rgb(42, 42, 42);
  border: 0px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 18px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:hover {
  background-color: white;
  color: #000000;
}

/*Sobre*/
#titulo-sobre{
    text-align: center;
    font-size: 34px;
    padding-top: 2rem;
}

.sobre-empresa{
    padding-top: 2rem;
}

.quemSomos{
    text-align: center;
    padding-top: 4rem;
}

.titulo-quem-somos{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.sobre-descricao{
    font-family: 'Montserrat', sans-serif;
}
.secao-sobre-quem-somos{
    text-align: center;
    padding-top: 4rem;
}       
.quem-somos{
    text-align: center;
    text-transform: uppercase;
    margin-top: 4rem;
}
.fotoLuiz{
    margin-bottom: 1rem;
}

.fotoTamer{
    margin-bottom: 1rem;
}

.links {
    text-decoration: none;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
} 