.limitador {
    max-width: 1200px;
    margin: 0 auto;
}

.descricao{
    width: 300px;
    height: 450px;
    margin-top: 2rem;
    padding-top: 0.5rem;
}

.descricao-titulo-especificacoes{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.icone-descricao{
    padding-top: 0.5rem;
}

/*Index*/

.nav-align {
    top: 0;
    left: 0;
    width: 100vW;
    z-index: 1;
}

/* Caso fazer o menu que aparece apos a imagem:

.nav-atras {
    width: 100%;
    height: 4.5rem;
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    z-index: -1;
}

.nav-align {
		position: absolute;
		margin-bottom: 0;
	}

*/

.logo{
    margin-left: 4rem;
    margin-top: 0.7rem;
}

.push-btn {
    margin-left: 0.5rem;
}

.button {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-size: 0.95rem;
    font-weight: 100;
    color: white;
}

.button:hover {
    color: white;
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 11%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.button:hover::after {
    transform: scaleX(1);
}

.black-bg {
    background-color: rgb(0, 0, 0);
}

.font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.openning-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.openning-image {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/public/img/Openning.png');
    background-size: cover;
    background-position: center;
}

.section-1 {
    padding-bottom: 2rem;
}

.s1-block {
    height: 20rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.s1-container {
    height: 10rem;
}

.info-container {
    padding: 2rem;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.info-container1 {
    padding: 6rem 5vw 10vw 5vw;
}

.upper-section {
    padding: 2rem 0 8rem 0;
}

.text-white {
    color:white;
}

.central {
    max-width: 80vw;
    height: 80vh;
    margin: auto;

/*Sobre*/
#titulo-sobre{
    text-align: center;
    font-size: 34px;
    padding-top: 2rem;
}

.sobre-empresa{
    padding-top: 2rem;
}
.quemSomos{
    text-align: center;
    padding-top: 4rem;
}
.fotoLuiz{
    margin-bottom: 1rem;
}

.fotoTamer{
    margin-bottom: 1rem;
}

.links{
    text-decoration: none;
}