<div>
	<p>
		Cadastro
	</p>

	<form id="formCadastro">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input class="form-control" type="text" id="nome" name="nome" maxlength="50" />
		</div>

		<div class="form-group">
			<label for="marca">Marca</label>
			<input class="form-control" type="text" id="marca" name="marca" maxlength="50" />
		</div>

		<div class="form-group">
			<label for="modelo">Modelo</label>
			<input class="form-control" type="text" id="modelo" name="modelo" maxlength="50" />
		</div>

		<div class="form-group">
			<label for="cor">Cor</label>
			<input class="form-control" type="text" id="cor" name="cor" maxlength="50" />
		</div>

		<div class="form-group">
			<label for="ano">Ano</label>
			<input class="form-control" type="number" id="ano" name="ano" />
		</div>

		<div class="form-group">
			<label for="imagem">Imagem</label>
			<input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
		</div>

		<button class="btn btn-primary" type="submit">
			Cadastrar
		</button>
	</form>
</div>
<script>
	async function cadastrar(form) {
		let response = await fetch("/criar", {
			method: "post",
			body: new FormData(form)
		});

		console.log(response.ok);
	}

	$("#formCadastro").validate({
		rules: {
			nome: {
				required: true
			},
			marca: {
				required: true
			},
			modelo: {
				required: true
			},
			cor: {
				required: true
			},
			ano: {
				required: true
			},
			imagem: {
				required: true
			}
		},
		submitHandler: function (form) {
			cadastrar(form);
		}
	});
</script>