<div class="back">
	<img src = "/public/img/Openning1.jpg" width = "1400" class="openning"> 
</div>

<%- contentFor("espaco-head") %>

<style>
	.nav-align {
		position: absolute;
		margin-bottom: 0;
	}
</style>
