<div class="openning-container">
	<div class="openning-image">
	</div>
</div>

<div class="black-bg font">
	<section class="section-1">

		<div class="info-container1 central">

			<div class="container-fluid">

				<div class="row upper-section text-white">
		
					<div class="col-md-6">
					
						<h1 class="s2-title">
							Innovative solution
						</h1>
					</div>

					<div class="col-md-6">
						
						<p>
							Desbloqueie sua Aventura: Explore Novos Destinos com os Nossos Serviços de Aluguel de Carros
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-2">

	</section>

</div>