<section>
	<div class="img-container">
		<div class="openning-img">
		</div>
	</div>
	<div class="openning-info-container">
		<div class="openning-info-title">
			<p>
			<span id="L">L</span>
			<span id="I">i</span>
			<span id="B">b</span>
			<span id="E">e</span>
			<span id="R">r</span>
			<span id="T">t</span>
			<span id="E">e</span>
			</p>
			<p>
			<span id="S">s</span>
			<span id="U">u</span>
			<span id="A">a</span>
			</p>
			<p>
			<span id="P">p</span>
			<span id="A">a</span>
			<span id="I">i</span>
			<span id="X">x</span>
			<span id="A">ã</span>
			<span id="O">o</span>
			</p>
			<p>
			<span id="P">p</span>
			<span id="O">o</span>
			<span id="R">r</span>
			</p>
			<p>
			<span id="D">d</span>
			<span id="I">i</span>
			<span id="R">r</span>
			<span id="I">i</span>
			<span id="G">g</span>
			<span id="I">i</span>
			<span id="R">r</span>
			</p>
		</div>
	</div>
</section>
<section class="section-1 transition-openning-s1">
	<div class="central">
		<div class="align-center flex-center text-white">
			<div class="quote-box">
				<h4 class="align-left"> Walt Disney - </h4>
				<p class="align-right">
					"Se você pode sonhar, você pode realizar" </p>							
				<p class="align-right text-gray">
					"If you can dream it, you can do it" </p>
			</div>
		</div>
	</div>
</section>
<section class="section-2  dark-gray-bg">
	<div class="central">
		<div class="container-fluid">
			<div class="row text-white flex-center">
				<div class="col-md-6 align-center">
					<h3 class="s2-3-title">Categorias</h3><br>
					<div class="s2-text">
						<p> Regular </p>
						<p> Conforto</p>
						<p> Luxo</p>
						<p> Modificado</p>							
						<p> Trilha</p>					
						<p> Auto escola</p>
					</div>
				</div>
				<div class="col-md-6">
					<img src="/public/img/engine_v12.png" class="engine-img" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-3 dark-gray-bg">
	<h1 class="align-center text-white s2-3-title">Onde estamos</h1>
	<p class="align-center text-white s3-text">Explore as cidades atraves do mapa</p>
	<div class="s3-btn-container align-center">
		<button class="button-26"> São Paulo </button>
		<button class="button-26"> Los Angeles </button>
		<button class="button-26"> Cape Town </button>
		<button class="button-26"> Tokyo </button>
		<button class="button-26"> Miami </button>
		<button class="button-26"> Nice </button>
		<button class="button-26"> Vancouver </button>
		<button class="button-26"> Sydney </button>
		<button class="button-26"> Barcelona </button>
		<button class="button-26"> Queenstown </button>
	</div>
		<div id="googleMap" class="map"></div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7ke-9O6SKAnUQK3Pccoabe8D_ii6FZHs&callback=myMap"></script>
</section>