<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="imagemLuiz">
                <img src="/public/img/luiz.png">
            </div>

            <div class="nomeLuiz">
                <h2>Luiz Gustavo</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/linkedin.png" width="50" height="50">
                    <a href="https://github.com/gustavo-candidoo" target="_blank">LinkedIn</a>
                </div>

                <div class="col-md-6">
                    <img src="/public/img/github.png" width="50" height="50">
                    <a href="https://github.com/gustavo-candidoo" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="/public/img/bola.png" alt="Bola de futebol" width="50" height="50">
                    <p>Futebol</p>
                </div>
                <div class="col-md-4">
                    <img src="/public/img/aviao.png" alt="Avião" width="50" height="50">
                    <p>Viagens</p>
                </div>
                <div class="col-md-4">
                    <img src="/public/img/computador.png" alt="Computador" width="50" height="50">
                    <p>Computação</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="imagemTamer">
                <img src="/public/img/tamer.jpg">
            </div>

            <div class="nomeTamer">
                <h2>Guilherme Tamer</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/public/img/linkedin.png" width="50" height="50">
                    <a href="https://github.com/GuilhermeLotaif01" target="_blank">LinkedIn</a>
                </div>

                <div class="col-md-6">
                    <img src="/public/img/github.png" width="50" height="50">
                    <a href="https://github.com/GuilhermeLotaif01" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="/public/img/carro.png" alt="Carro" width="50" height="50">
                    <p>Carros</p>
                </div>
                <div class="col-md-4">
                    <img src="/public/img/aviao.png" alt="Avião" width="50" height="50">
                    <p>Viagens</p>
                </div>
                <div class="col-md-4">
                    <img src="/public/img/computador.png" alt="Computador" width="50" height="50">
                    <p>Computação</p>
                </div>
            </div>
        </div>
    </div>
</div>
